/* CSS Reset */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Averta;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
} */

/* Header */

header h1 {
  font-weight: bold;
}

header nav .nav-link {
  font-weight: 500;
  transition: color 0.3s;
}

header nav .nav-link:hover {
  color: #ffd700;
}

/* Section Giới thiệu */
/* section.py-5.text-white {
  background: linear-gradient(135deg, #003b73, #1a73e8);
} */

section.py-5.text-white .btn-light {
  border: 2px solid #fff;
}

/* Section Thành viên */
section.py-5 img.rounded-circle {
  border: 3px solid #003b73;
}

section.py-5 h5.fw-bold {
  color: #003b73;
}

/* Section Dịch vụ tư vấn */
section.bg-light .card {
  transition: transform 0.3s;
}

section.bg-light .card:hover {
  transform: scale(1.05);
}

/* Section Lời chứng thực */
section.py-5 blockquote {
  font-style: italic;
  color: #555;
}

/* Section Case Study */
section.bg-light .card-title {
  font-weight: bold;
  color: #003b73;
}

section.bg-light .btn-primary {
  background-color: #003b73;
  border: none;
}

/* Footer */
footer {
  background: #002244;
}
.logo {
  width: 100px;
  /* height: 100px; */
  margin: 0 auto;
  display: block;
}

/*css header*/

#navbarNav .navbar-nav .nav-item a {
  color: var(--Text-On-BG, #fff);
  /* text-align: center; */

  /* Subtitle/Small */
  font-family: Averta;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
}

#navbarNav .navbar-nav .nav-item a:focus {
  color: rgba(255, 255, 255, 0.5);
}

.intro {
  margin-top: 80rem;
  display: flex;
  justify-content: center;
  text-align: center;
}
.intro h2 {
  color: var(--Text-On-BG, #fff);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* Title/Medium */
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: Averta;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 48px */
  text-transform: uppercase;
}
.intro p {
  /* Subtitle/Medium */
  font-family: Averta;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  padding: 0px 4rem;
  margin-top: 1rem;
}
.intro p span {
  color: #ffd700;
}
.intro .btn {
  font-size: 20px;
  display: flex;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1.5px solid #fff;
  width: 15rem;
  margin: auto;
  background-color: transparent;
  color: #fff;
}

/*slogan*/

.slogan {
  /* background-color: #fff; */
}

.slogan h2 {
  color: #25324b;
  /* Body/xLarge */
  font-family: Averta;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
}

.slogan .slogan-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* expert */

.expert {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.expert .founder-1 {
  height: 584px;
  border-radius: 24px;
  flex: 1 0 0;
  margin-right: 24px;
}

.expert .founder-1 .founder-1-info {
  display: block;
  text-align: right;
  width: 289px;
  height: 239px;
  float: right;
  padding: 24px 24px 24px 0;
}

.expert .founder-1 .founder-1-info h5 {
  color: #1e4696;
  text-align: right;

  /* Body/2xLarge */
  font-family: Averta;
  font-size: 32px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 150%; /* 48px */
}

.expert .founder-1 .founder-1-info h6 {
  color: #1e4696;
  text-align: center;

  /* Subtitle/Large */
  font-family: Averta;
  font-size: 28px;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal;
}

.expert .founder-1 .founder-1-info p {
  color: #1e4696;
  text-align: right;

  /* Body/Large */
  font-family: Averta;
  font-size: 20px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 150%; /* 30px */
}

.expert .team .partner {
  padding: 24px 12px 12px 0;
  margin: 0 12px !important;
  border-radius: 24px;
}
.expert .team .partner h5 {
  color: #1e4696;
  text-align: center;

  /* Body/xLarge */
  font-family: Averta;
  font-size: 24px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 150%; /* 36px */
}

.expert .team .partner h6 {
  color: #1e4696;
  text-align: center;

  /* Subtitle/Medium */
  font-family: Averta;
  font-size: 24px;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 150%; /* 36px */
}
.expert .btn,
.advise .btn {
  font-size: 20px;
  display: flex;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 24rem;
  margin: auto;
  background-color: transparent;
  color: var(--nn-ti, #253e8a);
  border-radius: 100px;
  border: 1.5px solid var(--nn-ti, #253e8a);
}

/*service*/

.advise h2 {
  color: #253e8a;
  text-align: center;
  /* Title/Medium */
  font-family: Averta;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 48px */
  text-transform: capitalize;
}

.advise .btn-advise {
  padding: 74px 30px;
  text-align: center;
  border-radius: 12px;
  background: linear-gradient(259deg, #25b04b -70.84%, #263e8f 96.62%), #f5f8ff;
}
.advise .btn-advise h5 {
  color: var(--Text-On-BG, #fff);
  text-align: center;

  /* Subtitle/Small */
  font-family: Averta;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
}
.advise .item {
  margin: auto;
}

/*loi chung thuc*/

.attestation .attestation-main {
  border-radius: 32px;
  background: #fff;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.06);
}
.attestation .attestation-main p {
  color: #25324b;
  font-family: Averta;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 48px */
}

.attestation .attestation-main h6 {
  color: #04418c;
  /* Subtitle/xLarge */
  font-family: Averta;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 5rem;
}

.attestation .attestation-main h5 {
  color: #04418c;
  /* Body/xLarge */
  font-family: Averta;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
}

.attestation .attestation-main .attestation-main-left {
  padding-left: 48px;
  padding-top: 72px !important;
}

/*case study*/

.case-study h2 {
  color: #253e8a;
  text-align: center;

  /* Title/Medium */
  font-family: Averta;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 48px */
  text-transform: capitalize;
}

.case-study .card-body {
  justify-content: space-between;
  align-items: center;
}

.case-study .case-study-post .card-body-left h5 {
  color: #fff;
  /* Title/Small */
  font-family: Averta;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
}

.case-study .case-study-post .card-body-left p {
  color: #fff;
  /* Body/Small */
  font-family: Averta;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.case-study .card-body-left {
  padding: 24px 0;
}

.case-study .case-study-post .btn {
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.2);
  font-size: 14px;
  color: #fff;
  flex: 35% 0;
  border-radius: 100px;
  border: unset;
  width: fit-content;
}

.case-study .case-study-post .card-body-left {
  margin-right: 20px;
  flex: 72%;
}

.case-study .btn-more {
  border-radius: 100px;
  border: 1.5px solid #fff;
  color: #fff;
}

/*contact*/

.contact .contact-form h5 {
  color: #233f87;
  font-family: Averta;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 42px */
  text-transform: uppercase;
}

.contact .contact-form form input {
  border: unset;
  border-bottom: 1px solid #233f87;
  border-radius: unset;
  background-color: transparent;
}
.contact .contact-form form button {
  margin-top: 48px;
  border-radius: 100px;
  border: 1.5px solid #253e8a;
  color: var(--nn-ti, #253e8a);
  text-align: right;
  /* Button/Default */
  font-family: Averta;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}

.contact .contact-form form input::placeholder {
  color: #807d7e;
  font-family: Averta;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}

/*css footer*/

.footer-home .social p {
  /* Body/xLarge */
  font-family: Averta;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
}

.footer-home .social ul {
  padding-left: 0 !important;
}

.footer-home .social ul li {
  width: 56.317px;
  height: 56.479px;
  flex-shrink: 0;
  list-style: none;
}

.footer-home .social .info span {
  font-family: Averta;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  margin-top: auto;
}

.footer-home .social .info p a {
  color: #fff !important;
  font-family: Averta;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
  text-decoration: none;
}

.footer-home .social .info {
  display: flex;
  flex-direction: column;

  color: #fff !important;
}
